
<div class="container">
  <h4>Recently posted data</h4>

  <h6>Search Post</h6>
  
    <div class="col-md-4" id="search">
      <input type="text" [(ngModel)]="model.userId" class="form-control" placeholder="User Id">
      <input type="text"[(ngModel)]="model.title" class="form-control" placeholder="Title (start with)">
      <input type="text" [(ngModel)]="model.body" class="form-control" placeholder="Body (contain)">
    </div>
   
 
  
  <div class="row mt-3" *ngIf="this.model.userId || this.model.title || this.model.body">
    <div class="col-12">
      <table class="table table-bordered table-hover table-striped" >
       <thead>
        <tr>
          <th>ID</th>
          <th style="white-space:nowrap">U. ID</th>
          <th>Title</th>
          <th>Body</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts | advanceSearch: model">
          <td>{{post?.id}}</td>
          <td>{{post?.userId}}</td>
          <td>{{post?.title}}</td>
          <td>{{post?.body}}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>